<a href="https://colab.research.google.com/github/Akashkadam1361/Project-2/blob/main/Project_2_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

booktags=pd.read_csv('book_tags.csv')
books=pd.read_csv('books.csv')
ratings=pd.read_csv('ratings.csv')
toread=pd.read_csv('toread.csv')
pd.set_option('display.max_columns', None)
ratings.head()

   user_id  book_id  rating
0        2     3753       5
1        4      388       4
2        4       18       5
3        4       27       5
4        4       21       5

# ***Q1*** How many books do not have an original title 

---

bold text[books.csv] ? N

In [ ]:
books['original_title'].isna().sum()

38

## 2. How many unique books are present in the dataset ? Evaluate based on the 'book_id' [books.csv]  N

In [ ]:
books=books.dropna(subset=['original_title'])

In [ ]:
len(pd.unique(books['book_id']))

846

# 3. How many unique users are present in the dataset [ratings.csv] ? N

In [ ]:
rate = pd.merge(books, ratings, on='book_id', how='right')
rate=rate.dropna(subset=['original_title'])

len(pd.unique(rate['user_id']))

48467

# 4. Which book (title) has the maximum number of ratings based on ‘work_ratings_count’  [books.csv] ? S

In [ ]:
books.sort_values('work_ratings_count',ascending=False)[['title','work_ratings_count']].head(1)['title']

0    Harry Potter and the Sorcerer's Stone (Harry P...
Name: title, dtype: object

# 5. Which tag_id  is the most frequently used ie. mapped with the highest number of books [book_tags.csv]  ? (In case of more than one tag, mention the tag id with the least numerical value) N

In [ ]:
books_booktags = pd.merge(books, booktags, on='goodreads_book_id', how='right')
books_booktags=books_booktags.dropna(subset=['original_title'])

In [ ]:
books_booktags['tag_id'].value_counts().head(1)

6838    846
Name: tag_id, dtype: int64

# 6. Which book (title) has the most number of counts of tags given by the user [book_tags.csv,books.csv]  ? S

In [ ]:
books_booktags.groupby('title')['count'].sum().to_frame(name='count').sort_values('count',ascending=False).head(1)

                                                     count
title
Harry Potter and the Sorcerer's Stone (Harry Po...  786374

# 7. Which book (goodreads_book_id) is marked as to-read by most users [books.csv,toread.csv] ? N

In [ ]:
books_toread = pd.merge(books, toread, on='book_id', how='left')

In [ ]:
books_toread=books_toread.dropna(subset=['original_title'])

In [ ]:
books_toread['goodreads_book_id'].value_counts().head(1)

21787    1458
Name: goodreads_book_id, dtype: int64

# 8. Which is the least used tag, i.e. mapped with the lowest number of books [book_tags.csv]   ? (In case of more than one tag, mention the tag id with the least numerical value)  N

Answer 47

In [ ]:
count=books_booktags['tag_id'].value_counts()
count=count.to_frame(name='count')
count[count['count']==count['count'].min()].sort_index(axis = 0).head(1)

    count
47      1

# 9. Which book (title) has the minimum ‘average_rating’  [books.csv] ? S

In [ ]:
books.sort_values('average_rating')['title'].head(1)

844    My Brother Sam Is Dead
Name: title, dtype: object

# 10.Which book (goodreads_book_id) has the least number of count of tags given by the user  [book_tags.csv,books.csv] ? N
Answer 4983

In [ ]:
books_booktags.groupby('goodreads_book_id')['count'].sum().to_frame(name='count').sort_values('count').head(1)

                   count
goodreads_book_id
13545345             465

11. How many tags are there in the dataset [book_tags.csv]  ? N

In [ ]:
len(pd.unique(books_booktags['tag_id']))

4606

# 12.What is the average rating of all the books in the dataset based on ‘average_rating’  [books.csv]  ? N

In [ ]:
books['average_rating'].mean()

4.083617021276596

# 13. Find the number of books published in the year ‘2000’ based on the ‘original_publication_year’ [books.csv] ? N

In [ ]:
books.loc[books['original_publication_year']==2000].shape[0]

31

# 14. Predict sentiment using Textblob. How many positive titles (title) are there [books.csv] ? (cut-off >0) N

In [ ]:
from textblob import TextBlob
count=0
for i in books['title']:
  p= TextBlob(i).sentiment.polarity
  if p>0:count+=1
print(count)

126

15. Plot a bar chart in Flourish with top 20 unique tags  in descending order of ‘user records’ (the number of users tagged the given tag_id with the goodreads_book_id) [book_tags.csv] and share the published link.

In [ ]:
books_booktags.groupby('tag_id')['count'].sum().to_frame(name='count').sort_values('count',ascending=False).head(20)

          count
tag_id
30574   8960960
11305    703032
11557    551862
8717     498680
11743    370221
33114    364603
7457     303898
6953     251875
6857     173037
5207     154165
32989    152010
6888     143648
22743    141162
6895     136876
6828     103202
27199     97399
17124     91320
23605     89552
1691      70239
7404      69092

16. Bucket the average_rating of books into 6 buckets [0,1,2,3,4,5] with 0.5 decimal rounding (eg: average_rating 3.5 to 4.4 will fall in bucket 4). Plot bar graph in Flourish to show total number of books in each rating bucket. [books.csv] and share the published link.

In [ ]:

Rating_0=0
Rating_1=0
Rating_2=0
Rating_3=0
Rating_4=0
Rating_5=0

for i in  books['average_rating']:
  if i <0.5 and i >=0:Rating_0 +=1
  elif i <1.5 and i >=0.5:Rating_1+=1
  elif i <2.5 and i >=1.5:Rating_2+=1
  elif i <3.5 and i >=2.5:Rating_3+=1
  elif i <4.5 and i >=3.5:Rating_4+=1
  elif i <=5 and i >=4.5:Rating_5+=1
  
print(Rating_0,Rating_1,Rating_2,Rating_3,Rating_4,Rating_5)

0 0 0 3 820 23